<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenCvSharp4" version="4.5.5.20211231" targetFramework="net472" />
  <package id="OpenCvSharp4.runtime.win" version="4.6.0.20220608" targetFramework="net472" />
  <package id="Sdcb.PaddleInference" version="2.4.0" targetFramework="net472" />
  <package id="Sdcb.PaddleInference.runtime.win64.mkl" version="2.4.1" targetFramework="net472" />
  <package id="Sdcb.PaddleOCR" version="2.6.0.1" targetFramework="net472" />
  <package id="Sdcb.PaddleOCR.Models.LocalV3" version="2.5.0" targetFramework="net472" />
  <package id="Sdcb.PaddleOCR.Models.Online" version="2.5.0" targetFramework="net472" />
  <package id="SharpCompress" version="0.31.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net472" />
</packages>